
:root {
  --color-primario: hsl(176, 14%, 45%);
  --color-secundario: #31354b;
  --color-fondo: #6d8aa1;
}

body{
    padding: 0;
    margin: 0;
    background: url(../img/fondo.jpg);
    background-size: cover;
    font-size: 16px;
}

/*Títulos de páginas*/
.titulo{
    text-align: center;
    font-size: 5vw;
    margin-top: auto;
    color:var(--color-secundario);
    font-family: "Rowdies", serif;
    font-style: normal;
}
    .fotSurg{
      width: 70%;
      max-width: 900px; /* Ajustá este valor según lo que te parezca mejor */
      aspect-ratio: 16/9; /* Mantiene la proporción correcta del video */
      display: block;
      margin: auto;
    }
    
  
/*Subtítulos*/
  .titulo2{
    text-align: center;
    font-size: 3vw;
    margin-top: auto;
    color: var(--color-primario);
    font-family: "Rowdies", serif;
    font-style: normal;
  }


/*Imagen de fondo*/
  img {
    max-width: 100%;
    height: auto;
    border: 10px solid var(--color-secundario);
}

.video {
  width: 100%;
  max-width: 900px; /* Ajustá este valor según lo que te parezca mejor */
  aspect-ratio: 16/9; /* Mantiene la proporción correcta del video */
  display: block;
  margin: auto;
}

.letras {
  font-size: 2vw;
  margin: 100p
}

nav a {
    text-align: center;
    text-decoration: none;
    background: rgb(61, 208, 156);
  }

  ul li {
    list-style-type: none;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;  
  }
  
  a {
    text-decoration: none;
    padding: 10px; /* Ajusta según tu diseño */
    border-radius: 20px;
    display: inline-block; /* Asegura que se comporte como botón */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Transición suave */
    text-align: center;
    background: rgb(98, 204, 197);
  }

  a:visited {
    background-color: var(--color-secundario);
    color: #cde0f0;
  }
  
  a:hover {
    background-color: rgb(104, 103, 126);
    border-radius: 20px;
    gap: 1vw;
    box-shadow: 0 4px 6px rgba(49, 82, 100, 0.1);
    transform: scale(1.1); /* Agranda el botón ligeramente */

  }
  
  a:active {
    background-color: #f00; /* Cambia el color de fondo al hacer clic */
    color: #fff; /* Cambia el color del texto */
    transform: scale(1.2); /* Agranda el botón ligeramente */
  }

  .tamaño-1{ /*Letras cursivas index*/
    font-size: 2vw;
    color: var(--color-fondo);
    font-family: "Caveat", serif;
  }

  .tamaño-2{
    font-size: 5vw;
    color:var(--color-secundario);
  }


h2{
  font-family: "Libre Barcode 128 Text", serif;/*Título con código de barra*/
  font-style: normal;
  font-size: 5vw;
  text-align: center;
}

.cont{
  background-color: var(--color-primario);
  margin: 5vw;
  padding: 1vw;
}

iframe{
  margin: auto;
  padding: 2vw;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

article {
  margin: 150px;
  flex: 1; /* El texto ocupa 1/3 del espacio */
  padding: 5px;
  font-size: 2vw;
  font-family: "Caveat", serif;                     /* 'Rowdies', sans-serif;*/
  color: var(--color-secundario);
  background-color: var(--color-secundario);
}

article p a{
  margin-top: 0;
  line-height: 1.5em;
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #7b7676;
  text-align: center;
}

.video-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.vidLe{/*Letras con nombres cursivas*/
  margin: auto;
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 3vw;
  color: var(--color-primario);
}

.letCla{
  margin: 150px;
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4vw;
  color: var(--color-primario);
}

video{
  width: 100%;
  max-width: 900px; /* Ajustá este valor según lo que te parezca mejor */
  aspect-ratio: 16/9; /* Mantiene la proporción correcta del video */
  display: block;
  margin: auto;
}

.correo {
  background-color: var(--color-fondo);
  text-align: center;
  border: 10px solid var(--color-primario);
  padding: 1vw;
  justify-content: center;
}

.textosFoo{
  font-size: 1.2em;
}

.caras{
  border-radius: 100px;
  margin: 150px;

}

