*{
    padding: 0;
    margin: 0;
}

body{
    background: url(../img/Fondo.jpg);
    background-size: cover;
    background-attachment: scroll;
}

html {
    font-size: 16px;
}

h2 {
    text-align: center;
    color: rgb(69, 57, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textos{
    color: rgb(150, 131, 148);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}

img{
    width: 2300px;
    left: 2600px;
    border: 10px solid rgb(36, 51, 52);
}

.correo {
    background-color: #534631;
    text-align: center;
    border: 10px solid greenyellow;
    padding: 2vw;
    justify-content: center;
  }
  